.footer {
  position: fixed;
  height: 50px;
  text-align: center;
  line-height: 50px;
  color:#fff;
  font-size: 20px;
  left:0;
  bottom:0;
  background: #396;
  width:100%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}